<?xml version="1.0"?>
<launch>
  <arg name="wave_only" value="0" />        <!-- WAVE만 접속 -->
  <arg name="bag_test" value="1" />        <!-- Bag파일 테스트용 -->
  <arg name="test_v2x" value="2" />        <!-- V2X테스트용(치트키 좌표 사용) -->
  <arg name="real_pos" value="3" />        <!-- 실제 대회용 -->
  <arg name="make_table" value="4" />      <!-- Dijkstra Table 작성 -->
  <arg name="simulation" value="5" />      <!-- Simulation전용 -->

  <!-- 위의 변수중에서 골라서 사용하면 됨 -->
  <param name="/run_type" value="$(arg bag_test)" />
  <!-- V2X Call 선택하려면 true 선택 안하려면 false -->
  <param name="/run_opt" value="false" />  
  <!-- HDMAP 폴더 path -->
  <param name="/hdmap_path" value="$(find core_map)/HDMAP" />

  <node pkg="core_map" type="core_map_node" name="core_map_node"  output="screen" />
</launch>
